[submodule "themes/hugo-theme-sigil"]
	path = themes/hugo-theme-sigil
	url = https://github.com/ouatis/hugo-theme-sigil
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
